<% if (employee.visible) { %>
    <tr>
        <td><img alt="<%= employee.name %>'s photo" src="/images/<%- employee.imageUrl %>" /></td>
        <td><%= employee.name %></td>
        <td><%= employee.age %></td>
        <td><%= employee.occupation %></td>
        <td><%= employee.company %></td>
    </tr>
<% } else { %>
    <tr>
        <td colspan="5"><%= employee.name %> has hidden their information.</td>
    </tr>
<% } %>